@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
	font-size: 20px;
}

#screen {
	image-rendering: pixelated;
}

table {
	color: gray;
	font-size: 18px;
}
td {
	padding: 3px;
}

td:nth-child(odd){
	color: aliceblue;
	text-align: end;
}

.stack-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: start;
	color: lightcoral;
	font-size: large;
}


