@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	font-family: monospace;
	font-size: 20px;
}

#screen {
	image-rendering: pixelated;
}

.header {
	color: #fefefe;
	line-height: 20px;
	font-size: 20px;
}

.commands label {
	text-align: end;
}

table {
	color: gray;
	font-size: 18px;
}
td {
	padding: 3px;
}

td:nth-child(odd){
	color: aliceblue;
	text-align: end;
}

.stack-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: start;
	color: lightcoral;
	font-size: large;
}


